 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
}

.ng-invalid.ng-touched {
  border-bottom: 1px solid red !important;
}

.btn-success[disabled="disabled"] {
  cursor: not-allowed;
  background: #8bc34a;
}

.btn-success {
  color: white;
}

.card-success {
  text-align: center;
  width: 500px;
  padding: 2em;
  border-radius: 5px;
  background: white;
  margin: 0 auto;
  margin-top: 10em;
  z-index: 2;
}

.card-success h3 {
  font-family: "Lato";
  margin-bottom: 1.5em;
}

.image-10 {
  width: 432px;
  position: absolute;
  left: -389px;
  top: 0px;
  bottom: 0px;
}

.link-active {
    background-image: url(../images/hover.png);
    background-position: center;
    background-size: 76%;
    color: #fff !important;
    background-repeat: no-repeat;
}

.link-active a {
  color: #fff !important;
}

.list-item-4 a {
  color: black;
  text-decoration: none;
}


.list-item-4 a:hover {
  color: white !important!
}

.image-13 {
  z-index: -1 !important;
}

.image-25 {
  height: 186px;
}
.item-premio-link{
  text-decoration: none !important;
}

.not-active {
   pointer-events: none;
   cursor: not-allowed;
}

.container-custom.container-premios {
  background: white;
}

.footer {
  width: 100%;
  position: relative;
  bottom: 0px;
  margin-top: 144px;
  padding-top: 0px;
  background-image: url('../images/footer.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-text {
    position: relative;
    left: 0px;
    top: auto;
    bottom: 0px;
    margin-top: 36px;
    padding-top: 26px;
    padding-bottom: 13px;
    font-family: Lato, sans-serif;
    color: #c4c4c4;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
}

.image-shadow {
  text-align: center;
  margin-top: -19px;
}