.body-3 {
  background-color: #6ba242;
  background-image: url('../images/intro-1-bg.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.div-block-37 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 16%;
  margin-top: 14%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-40 {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: auto;
}

.div-block-38 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  background-image: url('../images/background-info-intro.png');
  background-position: 0px 0px;
  background-size: 100% 276px;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.div-block-38.intro-bg {
  background-size: auto 91%;
}

.div-block-39 {
  position: relative;
  margin-top: 2em;
  text-align: center;
}

.div-block-39.intro-container {
  margin-bottom: 120px;
}

.text-block-19 {
  font-family: Lato, sans-serif;
  color: #ffd6bc;
  font-size: 28px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}

.text-block-20 {
  margin-top: 9px;
  padding-bottom: 22px;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-style: italic;
  font-weight: 100;
}

.text-block-20.intro-2-text {
  padding-right: 2.4em;
  padding-left: 2.4em;
}

.text-span-8 {
  font-family: Madeinchina, sans-serif;
  color: #ffd6bc;
  font-size: 34px;
  letter-spacing: 5px;
}

.image-41 {
  width: 71%;
}

.div-block-40 {
  position: relative;
  bottom: 0px;
  margin-top: 144px;
  padding-top: 0px;
  background-image: url('../images/footer.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.text-block-21 {
  position: relative;
  left: 0px;
  top: auto;
  bottom: 0px;
  margin-top: 36px;
  padding-top: 26px;
  padding-bottom: 13px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
}

.link-block-2 {
  display: inline-block;
  width: 370px;
  max-width: 100%;
}

.div-block-41 {
  width: 379px;
  margin-right: auto;
  margin-left: auto;
}

.image-42 {
  margin-top: 7%;
}

.image-43 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 168px;
  margin-left: -74px;
}

.image-43.rock-intro-2 {
  bottom: -21px;
}

.image-44 {
  position: absolute;
  left: 20%;
  top: 86%;
  bottom: 0px;
  z-index: -1;
  display: inline-block;
  width: 700px;
  margin-left: auto;
}

.body-4 {
  height: 100vh;
  background-color: #6ba242;
  background-image: url('../images/bg-registro.png');
  background-position: 0px 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-42 {
  position: relative;
  width: 100%;
  max-width: 807px;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 58px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  color: #fff;
}

.div-block-45 {
  margin-top: 47px;
  margin-bottom: -38px;
  padding-left: 3.6em;
}

.div-block-46 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #555;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.1em;
  padding-bottom: 29px;
  padding-left: 106px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
}

.div-block-47 {
  width: 256px;
  margin-right: 60px;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
  padding-left: 3.2em;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fafafa;
  background-color: #555;
  font-family: Lato, sans-serif;
  color: #fafafa;
  font-size: 14.77px;
}

.form-control.register {
  margin-bottom: 0.5em;
}

.text-field {
  padding-left: 13px;
}

.text-field.form-control {
  padding-left: 3.2px;
}

.image-45 {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 5px;
  margin-left: 5px;
}

.div-block-48 {
  position: relative;
}

.btn-success {
  position: static;
  left: 0px;
  top: 0px;
  width: 160px;
  padding-top: 13px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: #3dad1f;
  box-shadow: 0 4px 0 1px #39a31d;
  font-family: Madeinchina, sans-serif;
  font-size: 23px;
  text-align: center;
  letter-spacing: 1px;
}

.btn-success.info {
  padding-top: 5px;
  background-color: #09f;
  box-shadow: 0 4px 0 1px #0090f0;
  font-size: 19px;
}

.btn-success.s {
  margin-right: 42px;
  letter-spacing: 3px;
}

.div-block-49 {
  position: static;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 67px;
  text-align: center;
}

.link {
  display: inline-block;
}

.link-2 {
  color: #fafafa;
}

.text-block-22 {
  margin-top: 9px;
  padding-left: 11px;
  font-family: Lato, sans-serif;
  font-weight: 300;
  text-decoration: underline;
}

.image-46 {
  position: absolute;
  left: -358px;
  width: 49%;
}

.image-47 {
  position: absolute;
  right: -77px;
  bottom: 20px;
  width: 250px;
}

.image-48 {
  position: relative;
  z-index: -1;
  margin-top: -55px;
}

.text-block-23 {
  margin-top: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.link-3 {
  color: #fff;
  text-decoration: underline;
}

.div-block-50 {
  position: relative;
  bottom: 0px;
}

.div-block-51 {
  position: relative;
  top: 0%;
}

.div-block-52 {
  height: 103vh;
}

.div-block-53 {
  position: relative;
  height: 100vh;
  margin-bottom: 45px;
  padding-top: 12%;
}

.text-span-9 {
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

.intro-link {
  margin-top: 17px;
  margin-bottom: -34px;
  padding-bottom: 0px;
}

.body-5 {
  background-color: #6ba242;
  background-image: url('../images/bg-registro.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 802px;
  margin-top: 0%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-55 {
  width: 100%;
  max-width: 430px;
  padding-top: 1.5em;
  padding-right: 3.1em;
  padding-left: 3.1em;
  background-color: #fff;
}

.div-block-56 {
  width: 100%;
  max-width: 370px;
  padding-top: 20px;
  padding-right: 66px;
  padding-left: 56px;
  background-color: #555;
  color: #fafafa;
}

.text-block-24 {
  margin-top: 75px;
  margin-bottom: 40px;
  font-family: Madeinchina, sans-serif;
  color: #dc5156;
  font-size: 49px;
  line-height: 29px;
  text-align: center;
}

.text-span-10 {
  font-family: Lato, sans-serif;
}

.text-span-11 {
  font-family: Lato, sans-serif;
}

.text-block-25 {
  margin-bottom: 34px;
  font-family: Lato, sans-serif;
  color: #dc5156;
  font-size: 33px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

.div-block-57 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-49 {
  margin-bottom: -55px;
  margin-left: -91px;
}

.div-block-58 {
  height: 100%;
  padding-top: 14%;
}

.div-block-59 {
  width: 100%;
  height: 1px;
  margin-top: 22px;
  margin-bottom: 6px;
  background-color: #000;
}

.div-block-59.divisor-2 {
  margin-top: 10px;
}

.div-block-60 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 12px;
}

.radio-button-field {
  margin-left: 30px;
  font-family: Lato, sans-serif;
}

.div-block-61 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-left: 0px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-26 {
  margin-right: 208px;
  font-family: Madeinchina, sans-serif;
  color: #fff;
  font-size: 23px;
  letter-spacing: 2px;
}

.image-50 {
  position: absolute;
  left: 338px;
  top: -69px;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Madeinchina';
  src: url('../fonts/MadeinChina.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.custom-input.custom-select {
  height: 23px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom-width: 1px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #555, #555);
  background-image: linear-gradient(180deg, #555, #555);
  font-size: 12px;
}

.custom-input.custom-select{
  width: 100px;
  border: 0;
  border-bottom: 1px solid #fff;
  color: rgba(255, 255, 255, 0.5);
  font-style: 14px;
  margin-top: .5em;
}

.custom-input.custom-select.estado-select {
  margin-left: 10px;
}

.select-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Lato";
  color: #fff;
  opacity: .4;
  font-size: 14.77px;
}

.div-block-61.mobile {
display: none;
}

@media all and (max-width: 990px) {
    .body-4 {
      height: 100vh;
    background-color: #f0e1bc;
    background-image: url(../images/show-bg.png);
    background-position: 0px 157px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    }

    .div-block-53 {
      height: 122vh;
      padding-top: 36%;
    }

    .div-block-61.desktop {
      display: none;
    }

    .header-data {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }

    .div-block-61.mobile {
      display: block;
      margin-bottom: .5em;
    }

    .image-50 {
      position: static;
      margin: 1em 0;
    }

    .div-block-4  {
      margin-top: 1em;
    }

    .div-block-47 {
      margin: 0 auto;
    }

    .text-block-26 {
      margin: 0;
    }

    .div-block-42 {
        position: relative;
        width: 92%;
    }

    .div-block-43 {
      padding: 2em;
    }

    .form {
      text-align: center;
      padding: 2em;
    }

    .div-block-40 {
    background-size: 100%;
    background-position: top left;
    background: url(../images/footer-mobile.png) no-repeat;
  }

  .text-block-21 {
    padding: 4em 2.5em;
    line-height: 17px;
  }
}