.image {
  width: 100%;
}

.image-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
}

.unordered-list {
  position: absolute;
  left: 0px;
  top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-item {
  width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.list-item-2 {
  width: 17%;
}

.list-item-3 {
  width: 8%;
}

.link {
  display: block;
  height: 100%;
}

.link-2 {
  display: block;
  height: 100%;
}

.image-3 {
  position: absolute;
  z-index: -2;
  width: 100%;
}

.div-block {
  position: relative;
  width: 780px;
  max-width: 100%;
  margin-top: 207px;
  margin-right: auto;
  margin-left: auto;
}

.column {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}

.column-2 {
  height: 100%;
  padding-bottom: 19px;
  background-color: #555;
}

.column-content {
  position: relative;
  width: 80%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 34px;
}

.text-block {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: Madeinchina, sans-serif;
  color: #dc5156;
  font-size: 46px;
  line-height: 37px;
  text-align: center;
}

.text-block.desc {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.div-block-2 {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 158px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.div-block-3 {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-4 {
  position: relative;
  left: -119px;
  top: 96px;
  max-width: 119%;
  margin-bottom: 32px;
  padding-bottom: 0px;
}

.row {
  border-radius: 8px;
}

.text-field {
  padding-left: 34px;
}

.custom-input {
  margin-bottom: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 33px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: #555;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.custom-input.custom-select {
  height: 23px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom-width: 1px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #555, #555);
  background-image: linear-gradient(180deg, #555, #555);
  font-size: 12px;
}

.custom-input.custom-select.talle {
  width: 100px;
}

.custom-input.custom-select.estado-select {
  margin-left: 10px;
}

.custom-input.login-filed {
  width: 253px;
}

.image-5 {
  position: absolute;
  left: 5px;
  top: 9px;
}

.div-block-4 {
  position: relative;
}

.div-block-4.select-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4.login-field {
  width: 253px;
}

.div-block-5 {
  width: 100%;
  height: 0.6px;
  margin-top: 23px;
  margin-bottom: 10px;
  background-color: #444;
  color: #ccc;
}

.div-block-5.alt {
  height: 0.8px;
  margin-bottom: 17px;
}

.radio-button-field {
  width: 1px;
}

.radio-agr {
  display: inline-block;
  width: 38%;
}

.radio-agr.left {
  width: 25%;
  margin-left: 154px;
  padding-left: 0px;
  text-align: left;
}

.radio-agr.right {
  width: 23%;
}

.radio-button {
  text-align: right;
}

.field-label {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.text-block-2 {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.radio-button-field-2 {
  display: inline-block;
  margin-right: 20px;
}

.field-label-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.block-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 13px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-block-3 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.field-label-3 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.checkbox-field {
  margin-bottom: 16px;
  margin-left: 19px;
}

.checkbox {
  margin-right: 17px;
}

.link-3 {
  text-decoration: underline;
}

.btn-success {
  height: 35px;
  padding-top: 11px;
  border-radius: 15px;
  background-color: #3dad1f;
  box-shadow: 0 3px 0 2px #39a31d;
  font-family: Madeinchina, sans-serif;
  font-size: 22.4px;
  letter-spacing: 3px;
}

.btn-success.ligon-btn {
  position: relative;
  top: 34px;
}

.btn-success.info {
  margin-left: 30px;
  background-color: #09f;
  box-shadow: 0 3px 0 2px #0090f0;
}

.btn-success.alt-btn {
  height: 48px;
  margin-right: 150px;
  padding: 18px 2em 25px;
}

.btn-success.ranking {
  width: 420px;
  height: 57px;
  padding-top: 21px;
  padding-bottom: 30px;
  border-radius: 21px;
  font-size: 27.4px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 5px;
}

.image-6 {
  position: static;
  margin-top: -21px;
  margin-left: 51px;
}

.div-block-6 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-7 {
  margin-top: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}

.image-7 {
  margin-top: 46px;
  margin-bottom: 40px;
  margin-left: 152px;
}

.image-8 {
  margin-bottom: -113px;
  margin-left: 47px;
}

.div-block-8 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #555;
  color: #555;
}

.form {
  padding-top: 55px;
  padding-bottom: 83px;
  padding-left: 119px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.div-block-9 {
  display: inline-block;
  margin-top: 1px;
  margin-left: 84px;
  padding-top: 0px;
}

.div-block-10 {
  display: inline-block;
}

.text-block-4 {
  color: #fff;
}

.link-4 {
  position: relative;
  top: 8px;
  font-size: 12px;
  text-decoration: underline;
}

.text-block-5 {
  font-family: Lato, sans-serif;
  color: #fff;
}

.link-5 {
  position: relative;
  top: 63px;
  color: #fafafa;
  text-decoration: underline;
}

.image-9 {
  position: relative;
  left: 51px;
  top: -35px;
  z-index: -1;
}

.image-10 {
  position: absolute;
  left: -335px;
  top: 0px;
  bottom: 0px;
}

.image-11 {
  position: absolute;
  margin-top: 134px;
  margin-left: 109px;
}

.image-12 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.header {
  display: inline-block;
  height: 100px;
}

.image-13 {
  position: absolute;
  width: 100%;
}

.image-14 {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.div-block-11 {
  position: relative;
}

.image-15 {
  width: 315px;
  height: 65px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 19px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-12.bblock-12-ranking {
  padding-top: 29px;
  padding-right: 50px;
  padding-left: 50px;
}

.unordered-list-2 {
  position: relative;
  left: 16px;
  top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.unordered-list-2.header-home {
  margin-top: -11px;
}

.list-item-4 {
  padding: 10px 30px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}

.list-item-4:hover {
  background-image: url('../images/hover.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.link-6 {
  padding: 0px;
  color: #000;
  text-decoration: none;
}

.link-6:hover {
  color: #fff;
}

.link-7 {
  display: block;
}

.link-8 {
  display: block;
}

.container-custom {
  width: 100%;
  max-width: 1100px;
  margin-top: 2px;
  margin-right: auto;
  margin-left: auto;
}

.container-custom.container-premios {
  margin-top: 60px;
}

.container-custom.ranking {
  max-width: 1640px;
}

.div-block-13 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: 5px;
  background-color: #fff;
}

.div-block-14 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-top: 83px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 100px 1em 50px;
  border-radius: 5px;
  background-color: #fff;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1050px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  margin-top: 13px;
}

.image-17 {
  margin-top: -35px;
}

.factura-field {
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #ccc;
  font-size: 12px;
}

.div-block-16 {
  height: 50px;
}

.header-table {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 0px;
  font-weight: 700;
}

.row-2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.points {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dac48e;
  font-family: Lato, sans-serif;
  color: #666;
  font-size: 15px;
  text-align: center;
}

.points.code {
  background-color: #91161b;
  color: #fff;
}

.div-block-17 {
  display: inline-block;
  color: #ccc;
  font-size: 14px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  margin-left: 19px;
  color: #ccc;
  font-size: 12px;
}

.div-block-19 {
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000;
}

.text-block-7 {
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 16px;
  text-align: right;
}

.row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-8 {
  font-family: Lato, sans-serif;
  color: #ccc;
  font-size: 12px;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-18 {
  position: absolute;
  width: 100%;
}

.image-19 {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.div-block-21 {
  width: 100%;
  max-width: 1745px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.user-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 68px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-9 {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.text-span {
  font-family: Madeinchina, sans-serif;
  letter-spacing: 3px;
}

.text-span-2 {
  font-size: 25px;
}

.div-block-22 {
  margin-left: 20px;
}

.text-block-10 {
  padding-bottom: 11px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

.text-span-3 {
  margin-left: 11px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #dac48e;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.text-block-11 {
  font-family: Lato, sans-serif;
  font-size: 10px;
  text-align: center;
}

.premios-content {
  margin-top: 1px;
  padding-top: 2px;
  padding-bottom: 39px;
  padding-left: 0px;
  border-radius: 5px;
  background-color: #fff;
}

.premios-title {
  position: relative;
  top: -21px;
  width: 100%;
  max-width: 426px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: 50px;
  background-color: #93392d;
  font-family: Madeinchina, sans-serif;
  color: #fff;
  font-size: 33px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 3px;
}

.body {
  line-height: 20px;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 44px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-23.odd-premios {
  padding-top: 26px;
  border-style: dashed none;
  border-width: 2px 1px;
  border-color: #e0dede #000;
  background-color: #f8f8f8;
}

.div-block-24 {
  text-align: center;
}

.text-block-12 {
  font-family: Madeinchina, sans-serif;
  font-size: 22px;
}

.image-20 {
  width: 100px;
  opacity: 0.5;
}

.image-21 {
  width: 100px;
  opacity: 0.5;
}

.image-22 {
  width: 100px;
  opacity: 0.5;
}

.image-23 {
  width: 100px;
}

.div-block-25 {
  width: 190px;
}

.div-block-26 {
  position: relative;
  width: 100%;
}

.image-24 {
  position: absolute;
  left: 0px;
}

.image-25 {
  position: relative;
}

.text-block-13 {
  position: relative;
  left: 89px;
  bottom: 42px;
  width: 100px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #93392d;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.text-block-14 {
  position: relative;
  top: -18px;
  font-family: Lato, sans-serif;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
}

.text-block-14.text-14 {
  font-size: 11px;
}

.text-block-14.active-14 {
  color: #000;
}

.not-active {
  opacity: .8;
  cursor: not-allowed;
  pointer-events:none;
}

.div-block-27 {
  margin-top: 20px;
  text-align: center;
}

.image-26 {
  position: absolute;
  z-index: -1;
  width: 1920px;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 429px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-27 {
  width: 300px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-29 {
  position: relative;
  width: 100%;
  max-width: 1066px;
  margin-top: 28px;
}

.image-28 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80%;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  width: 100%;
  margin-top: 42px;
  padding-right: 2em;
  padding-left: 2em;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.text-span-4 {
  font-size: 33px;
  font-style: italic;
}

.text-span-5 {
  font-family: Madeinchina, sans-serif;
  color: #ffd6bc;
  letter-spacing: 2px;
}

.text-span-6 {
  font-family: Lato, sans-serif;
  color: #ffd6bc;
  font-weight: 700;
  letter-spacing: 4px;
}

.image-29 {
  position: absolute;
  bottom: 31px;
  z-index: -1;
  width: 90%;
  margin-left: 51px;
}

.image-30 {
  width: 465px;
  margin-top: 1px;
}

.image-31 {
  position: absolute;
  bottom: 0px;
  width: 205px;
  margin-bottom: 40px;
  margin-left: -126px;
}

.text-span-7 {
  font-weight: 700;
  letter-spacing: 1px;
}

.image-32 {
  width: 100%;
}

.image-33 {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.div-block-31 {
  width: 100%;
  max-width: 1646px;
}

.image-34 {
  position: absolute;
  z-index: -1;
}

.div-block-32 {
  width: 100%;
  max-width: 1640px;
  margin-right: auto;
  margin-left: auto;
}

.image-35 {
  margin-top: 102px;
}

.column-4 {
  padding-left: 50px;
}

.div-block-33 {
  padding-top: 16px;
  padding-bottom: 100px;
  padding-left: 0px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Madeinchina, sans-serif;
  color: #c32b2b;
  font-size: 46px;
  line-height: 51px;
  text-align: center;
}

.row-4 {
  margin-top: 58px;
}

.div-block-34 {
  padding-bottom: 45px;
  border-radius: 5px;
  background-color: #fff;
}

.div-block-35 {
  margin-right: 1em;
  margin-left: 1em;
  border-top: 1px none #ccc;
  border-bottom: 1px none #ccc;
}

.row-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.text-block-15 {
  font-family: Lato, sans-serif;
  color: #9a9a9a;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-36 {
  width: 37px;
  height: 37px;
}

.text-block-16 {
  padding-left: 21px;
  font-family: Lato, sans-serif;
  color: #9a9a9a;
  font-size: 25px;
  line-height: 26px;
}

.text-block-17 {
  color: #9a9a9a;
  font-size: 20px;
}

.image-37 {
  position: absolute;
  left: 56px;
  top: 1016px;
  right: 0px;
  bottom: 43px;
  z-index: -1;
  width: 86%;
  margin-top: 19px;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-36 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  margin-top: 83px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-38 {
  position: absolute;
  z-index: -1;
}

.text-block-18 {
  width: 100%;
  margin-top: 34px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 42px;
  font-weight: 100;
  text-align: center;
}

.image-39 {
  width: 80%;
}

.link-block {
  margin-top: 19px;
  text-align: center;
}

.body-3 {
  background-color: #6ba242;
  background-image: url('../images/bg-registro.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Madeinchina';
  src: url('../fonts/MadeinChina.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.div-block-40 {
  position: relative;
  bottom: 0px;
  margin-top: 144px;
  padding-top: 0px;
  background-image: url('../images/footer.png');
  background-position: 0px 0px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.text-block-21 {
  position: relative;
  left: 0px;
  top: auto;
  bottom: 0px;
  margin-top: 36px;
  padding-top: 26px;
  padding-bottom: 13px;
  font-family: Lato, sans-serif;
  color: #c4c4c4;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
}


@media  all and (max-width: 990px) {
   .body-3 {
    background-color: #45A337;
    background-image: url('../images/login-mobile.png');
    background-position: 0px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .div-block {
    margin-top: 110px!important;
    padding: 1.5em;
  }

  .div-block-3 {
    display: none;
  }

  .div-left {
    display: none;
  }

  .div-left-responsive {
    display: block;
  }

  .desc.text-block {
    width: 100%;
    font-size: 16px;
    margin-top: 0;
    text-align: left;
    line-height: 27px;
     margin-top: 1em;
  }

  .div-block-title {
    margin-top: 7em;
    margin-left: .66em;
  }

  form {
        text-align: center;
  }

  .checkbox-field {
    text-align: left;
  }

  .image-6 {
    position: static;
    margin-top: -56px;
    margin-left: 24px;
    width: 90%;
  }

  .div-block-40 {
    background-size: 100%;
    background-position: top left;
    background: url(../images/footer-mobile.png) no-repeat;
  }

  .text-block-21 {
    padding: 4em 2.5em;
    line-height: 17px;
  }

  .radio-agr.left {
    margin-left: 0;
  }
}