.image {
  width: 100%;
}

.image-2 {
  width: 100%;
}

.unordered-list {
  position: absolute;
  left: 0px;
  top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.list-item {
  width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.list-item-2 {
  width: 17%;
}

.list-item-3 {
  width: 8%;
}

.link {
  display: block;
  height: 100%;
}

.link-2 {
  display: block;
  height: 100%;
}

.image-3 {
  position: absolute;
  z-index: -2;
  width: 100%;
}

.div-block {
  position: relative;
  top: 183px;
  width: 780px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.column {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #fff;
}

.column-2 {
  height: 100%;
  padding-bottom: 19px;
  background-color: #555;
}

.column-content {
  position: relative;
  width: 80%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 34px;
}

.text-block {
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: Madeinchina, sans-serif;
  color: #dc5156;
  font-size: 46px;
  line-height: 37px;
  text-align: center;
}

.text-block.desc {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-weight: 300;
}

.div-block-2 {
  position: relative;
  display: inline-block;
  width: 3px;
  height: 158px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.div-block-3 {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.image-4 {
  position: relative;
  left: -119px;
  top: -10px;
  max-width: 119%;
  margin-bottom: -72px;
  padding-bottom: 0px;
}

.row {
  border-radius: 8px;
}

.text-field {
  padding-left: 34px;
}

.custom-input {
  margin-bottom: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 33px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: #555;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.custom-input.custom-select {
  height: 23px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom-width: 1px;
  border-radius: 0px;
  background-image: -webkit-linear-gradient(270deg, #555, #555);
  background-image: linear-gradient(180deg, #555, #555);
  font-size: 12px;
}

.custom-input.custom-select.talle {
  width: 100px;
}

.custom-input.custom-select.estado-select {
  margin-left: 10px;
}

.custom-input.login-filed {
  width: 253px;
}

.image-5 {
  position: absolute;
  left: 5px;
  top: 9px;
}

.div-block-4 {
  position: relative;
}

.div-block-4.select-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4.login-field {
  width: 253px;
}

.div-block-5 {
  width: 100%;
  height: 0.6px;
  margin-top: 23px;
  margin-bottom: 10px;
  background-color: #444;
  color: #ccc;
}

.div-block-5.alt {
  height: 0.8px;
  margin-bottom: 17px;
}

.radio-button-field {
  width: 1px;
}

.radio-agr {
  display: inline-block;
  width: 38%;
}

.radio-agr.left {
  width: 25%;
  margin-left: 156px;
  padding-left: 0px;
  text-align: left;
}

.radio-agr.right {
  width: 23%;
}

.radio-button {
  text-align: right;
}

.field-label {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.text-block-2 {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.radio-button-field-2 {
  display: inline-block;
  margin-right: 20px;
}

.field-label-2 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.block-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 13px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-block-3 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.field-label-3 {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
}

.checkbox-field {
  margin-bottom: 16px;
  margin-left: 19px;
}

.checkbox {
  margin-right: 17px;
}

.link-3 {
  text-decoration: underline;
}

.btn-success {
  height: 35px;
  padding-top: 11px;
  border-radius: 15px;
  background-color: #3dad1f;
  box-shadow: 0 3px 0 2px #39a31d;
  font-family: Madeinchina, sans-serif;
  font-size: 22.4px;
  letter-spacing: 3px;
}

.btn-success.ligon-btn {
  position: relative;
  top: 34px;
}

.btn-success.info {
  margin-left: 30px;
  background-color: #09f;
  box-shadow: 0 3px 0 2px #0090f0;
}

.image-6 {
  position: static;
  margin-top: 165px;
  margin-left: 51px;
}

.div-block-6 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-7 {
  margin-top: 230px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
}

.image-7 {
  margin-top: 46px;
  margin-bottom: 40px;
  margin-left: 152px;
}

.image-8 {
  margin-bottom: -113px;
  margin-left: 47px;
}

.div-block-8 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #555;
  color: #555;
}

.form {
  padding-top: 55px;
  padding-bottom: 83px;
  padding-left: 119px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.div-block-9 {
  display: inline-block;
  margin-top: 1px;
  margin-left: 84px;
  padding-top: 0px;
}

.div-block-10 {
  display: inline-block;
}

.text-block-4 {
  color: #fff;
}

.link-4 {
  position: relative;
  top: 8px;
  font-size: 12px;
  text-decoration: underline;
}

.text-block-5 {
  font-family: Lato, sans-serif;
  color: #fff;
}

.link-5 {
  position: relative;
  top: 63px;
  color: #fafafa;
  text-decoration: underline;
}

.image-9 {
  position: relative;
  left: 51px;
  top: -35px;
  z-index: -1;
}

.image-10 {
  position: absolute;
  left: -335px;
  top: 0px;
  bottom: 0px;
}

.image-11 {
  position: absolute;
  margin-top: 134px;
  margin-left: 109px;
}

.image-12 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.header {
  display: inline-block;
  height: 100px;
}

.image-13 {
  position: absolute;
  width: 100%;
}

.image-14 {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.div-block-11 {
  position: relative;
}

.image-15 {
  width: 315px;
  height: 65px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 19px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.unordered-list-2 {
  position: relative;
  left: 16px;
  top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list-item-4 {
  padding: 10px 30px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 15px;
}

.list-item-4:hover {
  background-image: url('../images/hover.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.link-6 {
  padding: 0px;
  color: #000;
  text-decoration: none;
}

.link-7 {
  display: block;
}

.link-8 {
  display: block;
}

.container-custom {
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-13 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  border-style: none;
  border-radius: 5px;
  background-color: #fff;
}

.div-block-14 {
  position: relative;
  width: 100%;
  max-width: 770px;
  margin-top: 83px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 50px;
  border-radius: 5px;
  background-color: #fff;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Madeinchina';
  src: url('../fonts/MadeinChina.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}